
.video {
	position: relative;
	width: 100%;

	&::after {
		content: "";
		display: block;
		// width: 0;
	}

	&.responsive-1by1 {
		content: "";
		padding-top: 100%;
	}

	&.responsive-4by3 {
		content: "";
		padding-top: 75%;
	}

	&.responsive-16by9 {
		content: "";
		padding-top: 56.25%;
	}

	&.responsive-21by9 {
		content: "";
		padding-top: 42.857143%;
	}
	
	.youtube {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border: none;
		width: 100%;
		height: 100%;
	}
}
